$body-color: rgba(0, 0, 0, 0.85);
$body-font-size: 14px;
$body-line-height: 1.4;

/* Fonts */
$font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$font-family2: 'Lato';

$font-size-small: 12px;
$font-size-medium: 19px;
