// @import '../styles/var';

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 1em;
}

label {
  margin-bottom: 0.5em;
}

.invalid {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
